.countdown-timer-container{
  min-height: 90vh;
  width: 95vw;
  align-content: flex-start;
  justify-items: center;
}

.countdown-date {
  color: #3b662e;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.countdown-date-dark {
  color: #95dd7f;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.countdown-title {
  background-color: #3b662e;
  color: #e8ffe2;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .3rem .6rem;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: .4rem;
}

.countdown-viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.countdown-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .75rem;
}

.countdown-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}

.timer-button {
  background-color: #3b662e;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 30%;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.timer-button:hover {
  background-color: #95dd7f;
}

.footer{
  width: -webkit-fill-available;
  margin: .25rem;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  background-color: #3b662e;
  color: white;
  border-radius: .75rem;
}

.countdown-value:not(span) {
  background-color: #d1ffc5;
  border-radius: 50%;
  color: #3b662e;
  font-size: 46px;
  padding: 10px;
  text-align: center;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
}

.countdown-value > p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.countdown-value > span {
  color: #3b662e;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .countdown-display {
    flex-direction: column;
    gap: .5rem;
  }

  .countdown-buttons{
    flex-direction: column;
    gap: .25rem;
    margin-bottom: 1rem;
  }

  .countdown-value:not(span) {
    font-size: 40px;
    width: 100px;
    height: 100px;
  }

  .countdown-value > span {
    font-size: 0.6rem;
  }

  .countdown-value > p {
    margin-top: 0;
  }

  .timer-button {
    margin: 0;
    height: 60px;
    width: 60px;
  }
}